html {
   background: url(../BrokenIce.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

body {
 font-family: 'Dosis', snas-serif;
 color: #000080 ;
}

#logo {
    max-height: 300px;
    max-width: 100px;
 margin-bottom: 10px;
    align-items: center;
}
h1 {
 color: #00009C ;
 margin: 0;
 font-size: 75px;
 font-family: 'Sigmar One', cursive;
}
h2 {
 margin-top: 0;
}
#snow{
    background: none;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png (3KB)