html {
    background: url(BrokenIce.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.results1, .results2 {
  background-color: rgba(255,255,255,0.85);
  width: 70%;
  margin: 0 auto;
  /*filter: alpha(opacity=0.5)*/
}


p {
  font-family: 'Muli', sans-serif;
  font-size: 2vw;
  padding: 2vw;
}

#logo {
    max-height: 30vw;
    max-width: 10vw;
    margin-bottom: 1vw;
    text-align: center;
    margin-top: 10vw;
}

h1 {
 color: #00009C ;
 margin: 0;
 font-size: 8vw;
 font-family: 'Sigmar One', cursive;
}

h3 {
  font-family: 'Muli', sans-serif;
}

h4 {
  color: #00009C ;
  margin: 15px;
  font-family: 'Muli', sans-serif;
}

body {
  text-align: center;
  color: #000080;
  font-family: 'Muli', sans-serif;
}


#snow{
  background: none;
  font-family: Androgyne;
  background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
