h1
	color royalblue
	font: Arial
	font-family: sans-serif;
	text-align: center;

body
	background-color skyblue
	align-items: center;

#logo
	max-height: 300px
	max-width: 100px
	align-items: center;
