h1 {
  color: #4169e1;
  font: Arial;
  font-family: sans-serif;
  text-align: center;
  color: #00f;
}
body {
  background-color: #87ceeb;
  align-items: center;
}
#logo {
  max-height: 300px;
  max-width: 100px;
  align-items: center;
}
